body{

}
html{
    background-color: #253341;
}
.navbar{
    background-color: #253341;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 5%;
}
.nav-link{
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: white;
    color: black;
}
#main{

    color:white;
    display: flex;
    background-color: #253341;
    width: 100vw;

}
#article{
    background-color: #15202b;
    width: 60%;
}
#sidebar{
    display: flex;
    width: 20%;

}
.container-fluid{

}
.account-img{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 15px 0 15px ;
}


.card-body{
    background-color: #253341;
    color: white;
}
.content-section{
  background-color: #15202b;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  color: white;
}
.tweet-form{
    display: flex;
    flex-direction: column;
}

.article-title {
  color: white;
}
.score{
    color: yellow;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.likes{
    color: red;
    text-decoration: none;
    text-underline-mode: none;
}
.likes:hover{
    color: red;
    text-decoration: none;
    text-underline-mode: none;
}
.post{
    height: 100vh;
}
.media{
    width: 100%;
}
.modal{
    color: black;
}
.user-post{
    cursor: pointer;
}
.user-post:hover{
    background-color: #253341;
}
.alert{
    margin-bottom: 0 !important;
}
.search{
    margin-right: 5%;
}