{% extends 'layout.html' %}
{% block body %}

<div class="container dialog-cont">
	<div class="conv-user-list">
        {% for user in users %}
        <a href="{{ url_for('users.chat', id=user.id) }}">
		<div class="user-msg">
            <img style="display: block" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="" width="64" class="rounded-circle">
            {{ user.username }}
		</div>
        </a>
        {% endfor %}
	</div>
	<div id="dialog" class="dialog">
        <div id="messages" class="messages overflow-auto">
                {% for msg in dialog %}
                {% if msg.recipient == current_user %}
                    <div class="msg msg-author">
                            <img src="{{ url_for('static', filename='profile_pics/' + msg.author.image_file) }}" alt="" width="32" class="m-1 rounded-circle">
                            {{ msg.author.username }} : {{ msg.body }}
                    </div>
                {% else %}
                    <div class="msg msg-recipient">
                        <img src="{{ url_for('static', filename='profile_pics/' + msg.author.image_file) }}" alt="" width="32" class="m-1 rounded-circle">
                        {{ msg.body }} : {{ msg.author.username }}
                    </div>
                {% endif %}
                {% endfor %}
                <hr>
            </div>
        <div class="msg-form">
            <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Send message for {{ companion.username }}</legend>
                <div class="form-group" >
                    {{ form.message.label(class='form-control-label') }}
                    {% if form.message.errors %}
                        {{ form.message(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.message(class='form-control') }}
                    {% endif %}
                    <hr>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
        </div>
        </div>

</div>

<script type="text/javascript">
      var block = document.getElementById("messages");
      block.scrollTop = block.scrollHeight;
</script>
{% endblock %}




