{% extends  'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block  body%}

<div id="article" class="container-fluid">
<div class="content-section">
          <form class="tweet-form" action="" method="post">
          {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.title.label(class='form-control-label') }}
                    {% if form.title.errors %}
                        {{ form.title(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class='form-control') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.text.label(class='form-control-label') }}
                    {% if form.text.errors %}
                        {{ form.text(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.text(class='form-control', placeholder="What's happening?", id='inp', type='text') }} <span></span>
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
            </div>
      </form>
<button class="btn btn-outline-secondary" onclick="GetLengthOfText()">Check text length</button>

</div>

  <div class="content-section">

      <h2>Feed</h2>
          {% for post in posts %}

                <article class="media content-section user-post">
                    <a href="{{ url_for('users.user_profile', id=post.author.id) }}"><img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="" class="rounded-circle article-img" width="64"></a>
                    <div class="media-body">
                        <div class="article-metadata">
                            <a href="{{ url_for('users.user_profile', id=post.author.id) }}" class="mr-2">{{ post.author.username }}</a>
                            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <h2><a href="{{ url_for('posts.post', id=post.id) }}" class="article-title">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.text }}</p>
                    </div>
                    <small class="score"><i class="fa fa-star"></i> {{ post.likes.count()}}</small>

            </article>
          {% endfor %}
      </div>

</div>
<div id="sidebar" class="container-fluid">
          <!-- CARD START -->
        <div class="content-section">
            <div class="card" style="width: 18rem;">
                <a href="{{ url_for('users.user_profile', id=user.id) }}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" class="rounded-circle mx-auto d-block account-img m-4" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">{{ user.email }}</p>
                <a href="{{url_for('users.profile', username=current_user.username)}}" class="btn btn-primary">Profile</a>
                <a href="{{url_for('users.logout')}}" class="btn btn-primary">Logout</a>
              </div>
            </div>
        </div>
        <!-- CARD END -->


</div>

    <script type="text/javascript">
        function GetLengthOfText () {
            var input = document.getElementById("inp");
            alert (input.textLength);
        }
    </script>
{% endblock %}