{% extends  'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block  body %}
<div class="container">
    <article class="media content-section">
        <a href="{{ url_for('users.user_profile', id=post.author.id) }}"><img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="" class="rounded-circle article-img"></a>
            <div class="media-body">
            <div class="article-metadata">
                <a href="{{ url_for('users.user_profile', id=post.author.id) }}" class="mr-2 post-author-avatar">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm m-1 mb-1" href="{{ url_for('posts.post_update', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
                <h2 class="article-title">{{ post.title }}</h2>
                <p class="article-content">{{ post.text }}</p>
            </div>
  {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}"><i class="fa fa-heart likes"></i></a>
  {% else %}
    <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}"><i class="fa fa-heart-o likes"></i></a>
  {% endif %}
    <span style="margin-left: 5px">{{ post.get_likes_count(post.id) }}</span>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span>Confirm deleting</span>
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('posts.post_delete', post_id=post.id) }}" method="post">
                  <input class="btn btn-danger" type="submit" value="Delete">
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}