{% extends  'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block  body%}

<div class="container">
    <div class="content-section">
        <div class="profile-header">
            <div class="profile-avatar">
                <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="" class="rounded-circle" width="128">
            </div>
            <div class="profile-info">
                <h1 class="profile-username">{{ user.username }}</h1>
                <span class="profile-email">{{ user.email }}</span>

            </div>
            <div class="profile-buttons">
                {% if user == current_user %}
                    <a class="follow-button btn btn-secondary" href="{{ url_for('users.profile', username=current_user.username) }}">Edit your profile</a>
                {% elif not current_user.is_following(user) %}
                    <a class="follow-button btn btn-success" href="{{ url_for('users.follow', id=user.id) }}">Follow</a>
                {% else %}
                    <a class="follow-button btn btn-danger" href="{{ url_for('users.unfollow', id=user.id) }}">Unfollow</a>
                {% endif %}
                <a href="#" class="follow-button btn btn-secondary">Add</a>
                <a href="#" class="follow-button btn btn-secondary">Send Message</a>
            </div>
        </div>
    </div>
    <div class="content-section">
        <div class="profile-body">
            <div class="profile-body-name">
                {% if user.name and user.second_name %}
                    <span>{{ user.username }}'s name is : {{ user.name }} {{ user.second_name }}</span>
                {% endif %}
            </div>
            <hr>
            <div class="profile-body-rank">
                <span class="profile-rankings">Rank: 12</span>
            </div>
            <hr>
            <div class="profile-body-likes">
                <span class="profile-likes">Likes: 0</span>
            </div>
            <hr>

            <div class="profile-body-followers">
                <span style="display: block" class="profile-followers">Followers: {{ user.followers.count() }}</span>
                <span  class="profile-user-followers">Followed by:  </span>
            </div>
        </div>
    </div>
    <div class="content-section">
    <h2>User likes (5) :</h2>
        <ul class="user-likes">
            {% for item in user.followed_posts(5) %}
                <li class="user-like"><a href="{{ url_for('posts.post', id=item.id) }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>


{% endblock %}