{% extends  'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block  body%}
<div class="users">
{% for user in users %}
    <div class="user-block">
        <a href="{{ url_for('users.user_profile', id=user.id) }}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="" class="rounded-circle article-img" width="64"></a>
        <hr>
        <a href="{{ url_for('users.user_profile', id=user.id) }}"><h2>{{ user.username }}</h2></a>
    </div>
{% endfor %}
</div>
{% endblock %}